{% for category in categories %}
    <tr>
        <td class="row1" align="center" valign="middle" height="50"><img src="{{ asset('bundles/poamain/images/folder_big.gif') }}" width="46" height="25" alt="No new posts" title="No new posts"></td>
        <td class="row1" width="50%" height="50" style="padding-top:0px;padding-bottom:0px;padding-left:5px;background-color:#EFEFEF;">
            <span class="forumlink"><a href="{{ forum_urlForCategory(category) }}" class="forumlink">{{ category.name }}</a><br/></span>
            {% if category.description %}
                <span class="genmed"><b>{{ category.description }}</b><br/></span>
            {% endif %}
        </td>
        <td class="row2" align="center" valign="middle" height="50"><span class="gensmall">{{ category.numTopics|default(0) }}</span></td>
        <td class="row2" align="center" valign="middle" height="50"><span class="gensmall">{{ category.numPosts|default(0) }}</span></td>
        {#<td class="row2" valign="middle" height="50" nowrap="nowrap" style="width: 25%; text-align: left; vertical-align: middle;">#}
        <td class="row2" width="25%" valign="middle" height="50" nowrap="nowrap" style="text-align: left; vertical-align: middle;">
            <span class="gensmall">
            {% if category.lastPost %}
                {% if gravatar_exists(category.lastPost.authorEmail) %}
                    <span style="display: block; float: left; padding: 1px; margin: 4px 6px 2px 0;"><img src="{{ gravatar(category.lastPost.authorEmail) }}" style="height: auto; width: 36px;" /></span>
                {% endif %}
                <span class="topictitle_posted_by">Last Topic: <a href="{{ forum_urlForPost(category.lastPost) }}">{{ cut(category.lastPost.topic.subject,30) }}</a></span><br/>
                <span>by: {{ category.lastPost.authorName }}</span><br/>
                <span title="{{ category.lastPost.createdAt|date('D M d, Y h:i a') }}">{{ time_ago_in_words(category.lastPost.createdAt) }}</span>
            {% else %}
                {{ '' }}<br/>
            {% endif %}
            </span>
        </td>
    </tr>
{% endfor %}
