{% if category %}
    {% block pagination %}
<tr><td>&nbsp;</td></tr>
<tr><td align="right">
    <div class="pagerfanta">
        {{ pagerfanta(topics, 'default', pagerOptions|merge({'proximity': 3})) }}
    </div>
</td></tr>
<tr><td>&nbsp;</td></tr>
    {% endblock %}
{% endif %}
{% if is_granted('ROLE_MEMBER') %}
    <tr><td>
        {#<div class="forum-node-create-links forum-node-create-links-top">#}
            {#<div class="forum-add-node forum-add-forum">#}
        <a href="{{ path('forum_category_topic_new', {'slug': category.slug} ) }}" title="New Topic" class="largeButton" rel="nofollow">&nbsp;New Topic <img src="{{ asset('bundles/poaforum/images/reply.png') }}" border="0" alt="New Topic" /></a>
                {#<a href="{{ path('forum_category_topic_new', {'slug': category.slug} ) }}" class="af-button-large">#}
                    {#<span>New  topic</span>#}
                {#</a>#}
            {#</div>#}
        {#</div>#}

    </td></tr>
    <tr><td>&nbsp;</td></tr>
{% endif %}
<tr>
    <td>
        <div class="ktopic-category">
            {{ category.name }} <a href="{{ forum_urlForCategoryAtomFeed(category) }}" title="Atom feed" class="feed atom"><image width="12" height="12" src="{{ asset('bundles/poamain/images/feed.png') }}" /></a>
        </div>
    </td>
</tr>
<tr>
    <td>
        <table width="100%" cellpadding="2" cellspacing="1" border="1" class="forumline">
            <thead>
            <tr>
                <th colspan="2" class="thCornerL" height="25" nowrap="nowrap">&nbsp;Topics&nbsp;</th>
                <th width="50" class="thTop" nowrap="nowrap">&nbsp;Views&nbsp;</th>
                <th width="25%" class="thCornerR" nowrap="nowrap">&nbsp;Last Post&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            {% for topic in topics %}
            <tr>
                <td class="row2" align="center" valign="middle" height="50">
                    <span class="topicviews_number">{{ topic.numPosts <= 1 ? '0' : topic.numPosts - 1 | default(0) }}</span>
                    <span class="topicviews_views"> Replies </span>
                </td>
                <td class="row2" width="60%" height="50" style="padding-top:0px;padding-bottom:0px;padding-left:5px;background-color:#EFEFEF;">
                    <span class="forumlink"><a class="topictitle" href="{{ forum_urlForTopic(topic) }}">{{ topic.subject }}</a></span>
                </td>
                <td class="row2" align="center" valign="middle" height="50">
                    <span class="topicviews_number">{{ topic.numViews }}</span>
                    <span class="topicviews_views"> Views </span>
                </td>
                <td class="row2" width="25%" valign="middle" height="50" nowrap="nowrap">
                    <span class="gensmall">
                        {% if gravatar_exists(topic.lastPost.authorEmail) %}
                            <span style="display: block; float: left; padding: 1px; margin: 4px 6px 2px 0;"><img src="{{ gravatar(topic.lastPost.authorEmail) }}" style="height: auto; width: 36px;" /></span>
                        {% endif %}
                        <span>Last Post by: {{ topic.lastPost.authorName }}</span><br/>
                        <span title="{{ topic.lastPost.createdAt|date('D M d, Y h:i a') }}">{{ time_ago_in_words(topic.lastPost.createdAt) }}</span>
                    </span>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </td>
</tr>
{% if category %}
{{ block('pagination') }}
{% endif %}
