{% extends 'PoaForumBundle::layout.html.twig' %}
{% block forum_content %}

<tr><td>
        <div class="crumbs">
            <a style="text-decoration:none;" href="{{ path('forum_index') }}">Forum</a> &gt;&gt;
            <a style="text-decoration:none;" href="{{ forum_urlForCategory(category) }}">{{ category.name }}</a>
        </div>
</td></tr>
<tr><td>&nbsp;</td></tr>

    <tr><td class="Kunena">
<div class="forum kblock">
        <form action="{{ path('forum_category_topic_create', {'slug': category.slug}) }}" method="post">
            <div class="kheader">
                <h2><span>New Topic</span></h2>
            </div>
            <div>
                {{ form_errors(form) }}
            </div>

            <div class="kcontainer">
                <div class="kbody">
                    <table class="kblocktable" id="kpostmessage" style="width:100%">
                        <tbody id="kpost-message">

                        <tr id="kpost-category" class="krow2">
                            <td class="kcol-first">
                                <strong>{{ form_label(form.category) }}</strong>
                            </td>

                            <td class="kcol-mid">
                                {{ form_widget(form.category) }}
                            </td>
                        </tr>

                        <tr id="kpost-subject" class="krow2">
                            <td class="kcol-first">
                                <strong>{{ form_label(form.subject) }}</strong>
                            </td>

                            <td class="kcol-mid">
                                {{ form_widget(form.subject) }}
                            </td>
                        </tr>

                        <tr id="kpost-message" class="krow2">
                            <td class="kcol-first">
                                <strong>{{ form_label(form.firstPost.message) }}</strong>
                            </td>

                            <td class="kcol-last kcol-editor-field">
                                {{ form_widget(form.firstPost.message, { 'id': 'kbbcode-message', 'name' : 'message' }) }}
                            </td>
                        </tr>

                           {#{{ form_widget(form) }}#}
                        <tr id="kpost-buttons" class="krow1">
                            <td id="kpost-buttons" colspan="2" style="align:center">
                                {{ form_rest(form) }}
                                <button type="submit" name="create" class="kbutton">Submit</button>
                                <button type="submit" name="cancel" class="kbutton">Cancel</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    {#<div class="side">#}
        {#<p><a href="{{ path('forum_index') }}">Cancel</a></p>#}
    {#</div>#}
</div>
</td></tr>
{% endblock %}
